@import url('https://fonts.googleapis.com/css2?family=Abel&family=Meow+Script&display=swap');

* {
    margin: 0;
    padding: 0;
  }

  body{
    padding-top: 8vh;
    background-color: #1d1d1d;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  }
  
  .navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .navbar a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  .navbar nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }

  .nav-list i{
    color: white;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }

.container-wrapper{
    display: flex;
    justify-content: center;
}

.input-wrapper{
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 26px;
    background-color: #2b2b36;
    border-radius: 5px;
}

.input-wrapper i{
    cursor: pointer;
    color: white;
}

.input-wrapper input{
    background-color: transparent;
    border: none;
    color: #ffffff;
    
}

.input-wrapper input:focus-visible {
    outline: none;
}

/* NÃO MEXA NESSE CSS FAÇA DAQUI PARA BAIXO */


p, h1{
  color:white ;
}


h1{
  margin-top: 5px;
  margin-left: 3.5rem;
  margin-bottom: 15px;
  
}

.catalogo{
 display: grid;
 gap:20px;
 grid-template-columns: 400px 400px 400px;
 margin-left: 2.9rem;
 justify-content: center;
}

.catalogo img{
  width: 400px;
  height: 240px;
  border-radius: 5px;
}



/* ----- Todo o footer ----- */

footer{ 
  color: white;
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

footer h3{
  margin-left: 7rem;
  padding-top: 20px;
}

footer img{
  width: 100px;
}

footer p{
  text-align: center;
  color: #838383;
  padding-top: 80px;
  padding-bottom: 80px;
}

.redes-sociais{
  padding-left: 7rem;
  color: #838383;
  font-size: 40px;
  display: flex;
  gap: 20px;
  padding-bottom: 30px;
}


.sub-links{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 7rem;
  gap: 20px;
  
}

.sub-links a {
  color: #838383;
  text-decoration: none;
}

.sub-links a:hover{
  text-decoration: underline;
}

.sub-links div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer .primeiro-traco{
  width: 85%;
  height: 2px;
  margin-top: 50px;
  margin-left: 7rem; 
  background-color: #838383;
}

.img-parceiros{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(5, 100px);
  gap: 50px;
  padding-top: 20px;
}


.tele-cine{
  grid-row: 2;
  grid-column: 3;
}

.apple-tv{
  grid-row: 2;
  grid-column: 4;
}

.discovery{
  grid-row: 2;
  grid-column: 2;
}
